@import "../../../styles/_colors.scss";

  
.link{
  background-color: white;
  display: block;
  color: $secondary;
  padding: 1rem;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text{
  display: block;
  padding-right: 1rem;
}

.categories{
  align-self: flex-start;
}

.category{
  font-size: .8rem;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darken(white, 10%);
  color: white;

  &:not(:last-of-type){
    margin-bottom: .25rem;
  }

  @each $cat in map_keys($catColors) {
    &.#{$cat}{
      background-color: map-get($catColors, $cat);
    }
  }
}


.sub-menu-item{
  display: flex;

  button, a{
    display: block;
    height: 100%;
    padding: 0;
    margin: 0;
    width: 50px;
    border: 0;
    background-color: transparent;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    .icon{
      height: 24px;
      width: 24px;
    }
  }
}
