@import "../../styles/_colors.scss";

.ruleset{
  padding-top: 3rem;
}

.sub-header{
  padding: 1rem .5rem;
  background-color: darken(white, 5%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  .heading{
    margin: 0;
    font-size: 1.3rem;
    line-height: 1.3;
    flex: 1;
    padding-right: 1rem;
  }
}

.heading{
  font-weight: 100;
}

.rule-list-leave-to{
  transform: translateY(10px);
}

.rule-list-leave-active{
  width: 100%;
  position: absolute;
}

.rules{
  .heading{
    margin: 0 0 1rem 0;
    font-size: 1rem;
  }
}

.rule{
  flex: 1;
  padding-right: 1rem;
  text-decoration: none;
  padding: 1rem .5rem;

  .text{
    flex: 1;
  }
}

.rule-list-item{
  transition: transform 500ms ease-out;
  display: flex;
  align-items: center;
  border-bottom: 5px solid darken(white, 5%);
}

.action{
  display: flex;
  align-self: flex-start;
  width: 35px;
  position: relative;

  > * {
    top: .75rem;
    left: 0;
    position: absolute;
  }

  .container{
    left: -4px;
    top: .5rem;
  }
}

.ruleset-list{
  margin: 2rem 0 0 0;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;

  li{
    &:not(:last-of-type){
      margin-bottom: .5rem;
    }
  }

  a{
    font-size: .8rem;
    display: inline-block;
    padding: .5rem 1rem;
    background: $primary;
    color: white;
    border-radius: 3px;
    text-decoration: none;
  }
}

.list{
  margin-top: 1rem;
}