@import "../../../styles/_colors.scss";

.rule{
  padding-top: 3rem;
}

.text{
  padding: 2rem;
  background-color: darken(white, 5%);
  
  h2{
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.5;
  }
}

.heading{
  font-weight: 100;
}

.rulesets{
  padding: 0 2rem 2rem 2rem;
  background-color: darken(white, 5%);

  .heading{
    margin: 0 0 1rem 0;
    font-size: 1rem;
  }
}

.menu{
  bottom: 0;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  border-top: 2px solid darken(white, 10%);
}

.menu-item{
  flex: 1;
  justify-content: center;
  text-align: center;
  background-color: white;
  // padding-bottom: 1rem;
  &:not(:last-of-type){
    border-right: 2px solid darken(white, 10%);
  }
}

.button{
  width: 100%;
  border: 0;
  background-color: transparent;
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  svg{
    height: 24px;
    width: 24px;
  }
}

.ruleset-list{
  margin: 2rem 0 0 0;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;

  li{
    &:not(:last-of-type){
      margin-bottom: .5rem;
    }
  }

  a{
    font-size: .8rem;
    display: inline-block;
    padding: .5rem 1rem;
    background: $primary;
    color: white;
    border-radius: 3px;
    text-decoration: none;
  }
}

.list{
  margin-top: 1rem;
}