@import "../../../styles/_colors.scss";

.container{
  position: relative;
  border-bottom: 5px solid darken(white, 5%);
  display: flex;
  overflow: hidden;
}

.touch{
  position: relative;
  font-size: 1.1rem;
  z-index: 2;
  width: 100%;
}

.sub-menu{
  top: 0;
  z-index: 1;
  position: absolute;
  display: flex;
  height: 100%;
  background-color:darken(white, 10%);
  padding: 0rem .5rem;

  &.panleft{
    right: 0;
  }

  &.panright{
    left: 0;
  }
}

.icon{
  width: 24px;
  height: 24px;
  fill: darken($secondary, 30%);
}

.sub-menu-item{
  display: flex;

  button, a{
    display: block;
    height: 100%;
    padding: 0;
    margin: 0;
    width: 50px;
    border: 0;
    background-color: transparent;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    .icon{
      height: 24px;
      width: 24px;
    }
  }
}