@import "./_colors.scss";
@import "./buttons.scss";

.page{
  background-color: darken(white, 5%);
  min-height: 100vh;
  padding: 1rem;
}


.page-title{
  font-size: 2rem;
  color: white;
  font-weight: 100;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

[hidden] {
  display: none;
}

button{
  appearance: none;
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1;
  background-color: transparent;
}

.icon{
  height: 24px;
  width: 24px;
  &.primary{
    fill: $primary;
  }

  &.secondary{
    fill: $secondary;
  }
}