@import "./_colors.scss";

.page{
  // background-image: $page-gradient;
  background-color: darken(white, 5%);
  min-height: 100vh;
  padding: 1rem;
}


.page-title{
  font-size: 2rem;
  color: white;
  font-weight: 100;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

[hidden] {
  display: none;
}